.home{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 182, 167);
    padding: 1%;

    .banner{
        margin-top: -9vh;

        .banner-img{
            width: 98vw;
            height: 80vh;
        }

        
        .banner-capt{
            position: relative;
            top: -55vh;
            left: 23vw;
            text-align: center;
            color: white;
            width: 50vw;
        }

    }
    .banner-about{
        height: 300px;
        // background-color: wheat;
        margin-top: -40vh;

    }
    .about-caption{
        padding: 1%;
        display: flex;
        flex-direction: column;

        .about-cloud1{
            background-color: rgba(0,0,0,0.1);
            position: relative;
            // bottom: -15vh;
            display: none;
        }
        .about-cloud2{
            // display: none;
            background-color: rgba(223, 219, 219, 0.5);
            position: relative;
            // bottom: -15vh;
            z-index: 1;
            text-align: justify;
        }

        .about-img{
            width: 96vw;
            height: 37vh;
            position: relative;
            top: -12vh;
        }
    }

    .catalogue{
        .handyCraft{
            display: flex;
            flex-wrap: wrap;
            .cata-handy{
                margin: 2%;
                width:28vw;
                height: 20vh;
                border-radius: 15px;
            }
        }
        .wooden{
            display: flex;
            flex-wrap: wrap;
            .cata-handy{
                margin: 2%;
                width:28vw;
                height: 20vh;
                border-radius: 15px;
            }
            
        }
        .rattan{
            display: flex;
            flex-wrap: wrap;
            .cata-handy{
                margin: 2%;
                width:28vw;
                height: 20vh;
                border-radius: 15px;
            }
        }
    }

    .contact-us{
        padding: 2%;
        display: flex;
        .email-img{
            display: none;
        }

        .email{
            margin: 6%;
            width: 80vw;

            .input{
                margin-bottom: 20px;
            }

            .input-mess{
                height: 30vh;
            }

        }

    }


}

@media only screen and (max-width: 600px) {

    .home{
    
        .banner{
            margin-top: 1vh;
    
            .banner-img{
                width: 98vw;
                height: 80vh;
            }

            .banner-capt{
                top: -55vh;
                left: 1vw;
                width: 100vw;
            }
    
        }
        .banner-about{
            height: 70vh;
            margin-top: -20vh;
    
        }
        .about-caption{
            padding: 1%;
            display: flex;
            flex-direction: column;
    
            .about-cloud1{
                background-color: rgba(0,0,0,0.1);
                position: relative;
                // bottom: -15vh;
                display: none;
            }
            .about-cloud2{
                // display: none;
                position: relative;
                bottom: -10vh;
            }
    

        }

        
    }
}


@media only screen and (min-width: 768px) {
    .home{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(31, 182, 167);
        padding: 1%;
    
        .banner{
            margin-top: -9vh;
            .banner-top{
                .banner-img{
                    width: 98vw;
                    height: 60vh;
                }
            }
            .banner-capt{
                position: relative;
                top: -55vh;
                left: 23vw;
                text-align: center;
                color: white;
                width: 50vw;
            }
    
        }
        .banner-about{
            height: 300px;
            // background-color: wheat;
            margin-top: -30vh;
    
        }
        .about-caption{
            margin-top: 6vh;
            padding: 1%;
    
            .about-cloud1{
                background-color: rgba(0,0,0,0.1);
                position: relative;
                // bottom: -15vh;
                display: none;
            }
            .about-cloud2{
                // display: none;
                background-color: rgba(223, 219, 219, 0.5);
                position: relative;
                // bottom: -15vh;
                z-index: 1;
                text-align: justify;
            }
    
            .about-img{
                width: 96vw;
                height: 37vh;
                position: relative;
                top: -12vh;
            }
        }
    
        .catalogue{
            margin-top: 15%;
            h1{
                text-align: center;
            }
            .handyCraft{
                display: flex;
                flex-wrap: wrap;
                .cata-handy{
                    margin: 2%;
                    width:28vw;
                    height: 20vh;
                    border-radius: 15px;
                }
            }
            .wooden{
                display: flex;
                flex-wrap: wrap;
                .cata-handy{
                    margin: 2%;
                    width:28vw;
                    height: 20vh;
                    border-radius: 15px;
                }
                
            }
            .rattan{
                display: flex;
                flex-wrap: wrap;
                .cata-handy{
                    margin: 2%;
                    width:28vw;
                    height: 20vh;
                    border-radius: 15px;
                }
            }
        }
    
    }
    
}

@media only screen and (min-width: 992px) {
    .home{
        .banner{
            margin-top: -9vh;
            .banner-top{
                .banner-img{
                    width: 97vw;
                    height: 70vh;
                }
            }
            .banner-capt{
                position: relative;
                background-color: rgba(223, 219, 219, 0.3);
                top: -40vh;
                left: 15vw;
                text-align: center;
                color: white;
                width: 70vw;
            }
    
        }
        .banner-about{
            height: 300px;
            // background-color: wheat;
            margin-top: -20vh;
    
        }
        .about-caption{
            margin-top: 12vh;
            padding: 1%;
            flex-direction: row;
    
            .about-cloud1{
                background-color: rgba(0,0,0,0.1);
                position: relative;
                flex: 2;
                // bottom: -15vh;
                display: none;
            }
            .about-cloud2{
                // display: none;
                background-color: rgba(223, 219, 219, 0);
                position: relative;
                flex: 2;
                left: -0.5%;
                height: 13vh;
                // bottom: -15vh;
                z-index: 1;
                text-align: justify;
            }
    
            .about-img{
                // flex: 3;
                width: 45vw;
                height: 50vh;
                position: relative;
                top: -12vh;
            }
        }
    
        .catalogue{
            margin-top: 15%;
            h1{
                text-align: center;
            }
            .handyCraft{
                display: flex;
                flex-wrap: wrap;
                .cata-handy{
                    margin: 2%;
                    width:28vw;
                    height: 35vh;
                    border-radius: 15px;
                }
            }
            .wooden{
                display: flex;
                flex-wrap: wrap;
                .cata-handy{
                    margin: 2%;
                    width:28vw;
                    height: 35vh;
                    border-radius: 15px;
                }
                
            }
            .rattan{
                display: flex;
                flex-wrap: wrap;
                .cata-handy{
                    margin: 2%;
                    width:28vw;
                    height: 35vh;
                    border-radius: 15px;
                }
            }
        }
    
    }
}
